.header {
  background-color: var(--hero-bg-color);
}
.header-container {
  position: relative;
}
.header-position {
  position: absolute;
  top: 6px;
  z-index: 5;
  @media screen and (min-width: 768px) {
    top: 37px;
    left: 26px;
  }
  @media screen and (min-width: 1200px) {
    top: 37px;
    left: 46px;
  }
}
.header-box {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 291px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 90px;
  }
}
.header-nav {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 90px;
  }
}
.header-nav__link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  color: var(--universal-white-color);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}
.header-btn__mobile {
  background-color: transparent;
  margin-left: auto;
  margin-right: 30px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.header-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    background-color: var(--universal-white-color);
    color: var(--accent-color);
    height: 44px;
    padding: 0 37px;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--btn-dark-hover);
    }
  }
  // @media screen and (min-width: 1200px) {
  //   margin-right: 100px;
  // }
}

// hero//
.hero {
  background-color: var(--hero-bg-color);
}
.hero-container {
  position: relative;
  min-height: 502px;
  @media screen and (min-width: 768px) {
    min-height: 399px;
  }
  @media screen and (min-width: 1280px) {
    min-height: 665px;
  }
}
.hero-title {
  position: absolute;
  top: 193px;
  left: 5px;
  z-index: 3;
  @media screen and (min-width: 768px) {
    top: 102px;
    left: 16px;
  }
  @media screen and (min-width: 1280px) {
    top: 171px;
    left: 65px;
  }
}
.hero-title__content {
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--universal-white-color);
  font-family: 'Titan One', cursive;
  font-weight: normal;
  margin-bottom: 19px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.13;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.15;
  }
}
.hero-title__item {
  font-size: 47px;
  line-height: 1.15;
  color: var(--accent-color);
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}
.hero-link {
  display: flex;
}
.hero-link__content {
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  border-radius: 20px;
  background-color: var(--universal-white-color);
  cursor: pointer;
  height: 24px;
  padding-left: 21px;
  padding-right: 21px;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:first-child:hover,
  &:first-child:focus {
    background-color: var(--btn-light-hover);
    color: var(--universal-white-color);
  }
  &:last-child:hover,
  &:last-child:focus {
    background-color: var(--btn-dark-hover);
  }
}
.hero-info {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 292px;
    left: 154px;
  }
  @media screen and (min-width: 1280px) {
    top: 485px;
    left: 255px;
  }
}
.hero-info__text {
  display: block;
  width: 114px;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;
  color: var(--universal-white-color);
  margin-bottom: 7px;
  @media screen and (min-width: 1280px) {
    display: block;
    width: 200px;
    font-size: 14px;
    line-height: 1.42;
    margin-bottom: 20px;
  }
}
.hero-info__btn {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: transparent;
}
.hero-img__arrow {
  position: absolute;
  top: 0;
  left: 0;
}
.hero-img__icecream {
  position: absolute;
  top: 92px;
  right: 32px;
  z-index: 2;
  @media screen and (min-width: 768px) {
    top: 63px;
    right: 247px;
  }
  @media screen and (min-width: 1280px) {
    top: 108px;
    right: 398px;
  }
}
.hero-img__ellipse {
  position: absolute;
  top: 79px;
  right: -15px;
  z-index: 0;
  @media screen and (min-width: 768px) {
    top: 31px;
    right: 137px;
  }
  @media screen and (min-width: 1280px) {
    top: 52px;
    right: 207px;
  }
}
.hero-img__bio {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 28px;
    left: 16px;
  }
  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    bottom: 77px;
    left: 35px;
  }
}
.hero-img__tasty {
  display: none;
  z-index: 5;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 34px;
  }
  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 59px;
  }
}
.hero-menu {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 94px;
    right: 34px;
    display: block;
    text-align: right;
    z-index: 5;
  }
  @media screen and (min-width: 1280px) {
    top: 156px;
    right: 67px;
  }
}
.hero-menu__list:not(:last-child) {
  margin-bottom: 13px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
.hero-menu__item {
  position: absolute;
  top: -4px;
  right: -6px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--universal-white-color);
  border-radius: 50%;
  z-index: -1;
  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
  }
}
.hero-menu__number {
  font-family: 'Titan One', cursive;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  position: relative;
  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}
.hero-menu__text {
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  color: var(--universal-white-color);
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
  }
}
