.products {
  background-color: #e5e5e5;
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.section-title {
  margin-bottom: 144px;
  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 259px;
  }
}

.pre-title {
  font-family: Titan One;
  // font-style: normal;
  // font-weight: normal;
  display: block;
  font-size: 18px;
  line-height: 1.145;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.list-products {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin: -15px;
  }
}

.list-products__item {
  max-width: 280px;
  height: 485px;
  padding: 40px;
  border-radius: 24px;
  @media screen and (max-width: 480px) {
    max-width: 280px;
  }
  @media screen and (min-width: 768px) {
    max-width: 220px;

    // flex-basis: calc((100% - 60px) / 3);

    margin: 10px;
    padding: 17px;
  }
  @media screen and (min-width: 1200px) {
    // flex-basis: calc((100% - 90px) / 3);
    max-width: 329px;
    margin: 15px;
  }
}

.list-products__item:not(:last-child) {
  margin-bottom: 129px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.list-products__item {
  position: relative;
}

.list-products__item--ice-cream {
  background-color: var(--products-ice-cream-color);
}

.list-products__item--ice-coffee {
  background-color: var(--products-ice-coffee-color);
}

.list-products__item--milkshakes {
  background-color: var(--products-milkshakes-color);
}

.list-products__title {
  // position: relative;
  margin-top: 120px;

  font-family: Titan One;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--universal-white-color);
}

.list-products__title::after {
  content: '';
  position: absolute;
  height: 6px;
  width: 26px;
  top: 210px;
  right: 130px;
  background-repeat: no-repeat;
  background-image: url('../images/products/Group4-1x-min.png');
  @media screen and (min-width: 768px) {
    top: 192px;
    right: 98px;
  }
  @media screen and (min-width: 1200px) {
    right: 154px;
  }
}

.list-products__title--ice-cream::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  height: 252px;
  width: 249px;

  top: -113px;
  left: 20px;

  background-image: url('../images/products/home-pic1-1x-mob-min.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/products/home-pic1-2x-mob-min.png');
  }
}

@media screen and (min-width: 768px) {
  .list-products__title--ice-cream::before {
    background-image: url('../images/products/home-pic1-1x-tab-min.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/home-pic1-2x-tab-min.png');
    }
    height: 226px;
    width: 220px;
    top: -105px;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .list-products__title--ice-cream::before {
    background-image: url('../images/products/home-pic1-1x-min.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/home-pic1-2x-min.png');
    }
    height: 335px;
    width: 337px;
    top: -215px;
    left: -5px;
  }
}

.list-products__title--ice-coffee::before {
  content: '';
  height: 252px;
  width: 249px;
  position: absolute;
  background-repeat: no-repeat;
  top: -113px;
  left: 20px;
  background-image: url('../images/products/home-pic2-1x-mob-min.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/products/home-pic2-2x-mob-min.png');
  }
}

@media screen and (min-width: 768px) {
  .list-products__title--ice-coffee::before {
    background-image: url('../images/products/home-pic2-1x-tab-min.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/home-pic2-2x-tab-min.png');
    }
    height: 233px;
    width: 220px;
    top: -112px;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .list-products__title--ice-coffee::before {
    background-image: url('../images/products/home-pic2-1x-min.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/home-pic2-2x-min.png');
    }
    height: 335px;
    width: 337px;
    top: -215px;
    left: 0;
  }
}

.list-products__title--milkshakes::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;

  height: 252px;
  width: 249px;

  top: -113px;
  left: 20px;

  background-image: url('../images/products/home-pic3-1x-mob-min.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/products/home-pic3-2x-mob-min.png');
  }
}

@media screen and (min-width: 768px) {
  .list-products__title--milkshakes::before {
    background-image: url('../images/products/home-pic3-1x-tab-min.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/home-pic3-2x-tab-min.png');
    }
    height: 233px;
    width: 220px;
    top: -105px;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .list-products__title--milkshakes::before {
    background-image: url('../images/products/home-pic3-1x-min.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/home-pic3-2x-min.png');
    }
    height: 335px;
    width: 335px;
    top: -215px;
    left: 0;
  }
}

.list-products__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  margin-top: 65px;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--universal-white-color);
  @media screen and (min-width: 768px) {
    line-height: 176%;
  }
}

.button-arrow {
  display: flex;
  border-radius: 50%;
  background-color: transparent;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
