.products {
  background-color: #e5e5e5;
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.section-title {
  margin-bottom: 144px;
}

.pre-title {
  font-family: Titan One;
  // font-style: normal;
  // font-weight: normal;
  display: block;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--primary-text-color);
}

.list-products {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin: -15px;
  }
}

.list-products__item {
  max-width: 280px;
  height: 485px;
  padding: 40px;
  border-radius: 24px;
  @media screen and (max-width: 480px) {
    max-width: 280px;
  }
  @media screen and (min-width: 768px) {
    max-width: 220px;

    // flex-basis: calc((100% - 60px) / 3);

    margin: 10px;
    padding: 17px;
  }
  @media screen and (min-width: 1200px) {
    // flex-basis: calc((100% - 90px) / 3);
    max-width: 329px;
    margin: 15px;
  }
}

.list-products__item:not(:last-child) {
  margin-bottom: 129px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.list-products__item--ice-cream {
  background-color: var(--products-ice-cream-color);
}

.list-products__item--ice-coffee {
  background-color: var(--products-ice-coffee-color);
}

.list-products__item--milkshakes {
  background-color: var(--products-milkshakes-color);
}

.list-products__title {
  display: block;
  position: relative;

  font-family: Titan One;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--universal-white-color);
}

.list-products__title::before {
  content: ' ';
  font-size: 100px;
  color: transparent;
  height: 100px;
  width: 100px;
  // position: absolute;
  // background-image: url('../images/products/home-pic1-1x-mob.png');
  background-size: 100% 100%;
}

.list-products__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--universal-white-color);
  @media screen and (min-width: 768px) {
    line-height: 176%;
  }
}
