/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/modern-normalize';
@import './utils/veriables';
@import './utils/base';
@import './utils/reset';
@import './utils/visually-hidden';
@import './hero-header.scss';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './customer-reviews';
@import './contacts';
@import './footer';
// @import './example';
