<section class="customers-reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title visually-hidden">Customers reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="reviews__slide swiper-slide">
          <div class="reviews__img">
            <img 
            srcset="images/customer-reviews/testimonials1-1x-min.png 1x, 
                    images/customer-reviews/testimonials1-2x-min.png 2x"
            src="images/customer-reviews/testimonials1-1x-min.png" 
            alt="Girl smiling" />
          </div>
          <div class="reviews__wrap">
            <div class="reviews__thumb">
              <p class="reviews__text">
                Our team is grateful to the organizers of the course for the
                this interesting project and the opportunity to learn new things.
                Many thanks to the mentors for their support and help.
              </p>
            </div>
          </div>
          <div class="reviews__dots"></div>
          <h3 class="reviews__name">Project11, Ukraine</h3>
        </div>
        <div class="reviews__slide swiper-slide">
          <div class="reviews__img">
            <img 
            srcset="images/customer-reviews/testimonials2-1x-min.png 1x,
                    images/customer-reviews/testimonials2-2x-min.png 2x"
            src="images/customer-reviews/testimonials2-1x-min.png" 
            alt="Girl listening">
          </div>
          <div class="reviews__wrap">
            <div class="reviews__thumb">
              <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
          </div>
          <div class="reviews__dots"></div>
          <h3 class="reviews__name">Emily, Los Angeles</h3>
        </div>
        <div class="reviews__slide swiper-slide">
          <div class="reviews__img">
            <img 
            srcset="images/customer-reviews/testimonials3-1x-min.png 1x,
                    images/customer-reviews/testimonials3-2x-min.png 2x"
            src="images/customer-reviews/testimonials3-1x-min.png" 
            alt="Girl looking with glasses">
          </div>
          <div class="reviews__wrap">
            <div class="reviews__thumb">
              <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
          </div>
          <div class="reviews__dots"></div>
          <h3 class="reviews__name">Emily, Los Angeles</h3>
        </div>

      </div>
      <div class="swiper-pagination"></div>
    </div>
</section>
