<section>
  <section class="reviews">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="reviews__item swiper-slide">
          <div class="reviews__img">
            <img src="images/customer-reviews/testimonials1-1x-min.png" alt="" />
          </div>
          <div class="reviews__wrap">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </div>
        <!-- <div class="reviews__item swiper-slide">
          <div class="reviews__img">
            <img src="/images/customer-reviews/testimonials2-1x-min.png" alt="">
          </div>
          <div class="reviews__wrap">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan
              congue. Lorem ipsum primis in nibh vel risus.
            </p>
  
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </div> -->
        <!-- <div class="reviews__item swiper-slide">
          <div class="reviews__img">
            <img src="" alt="">
          </div>
          <div class="reviews__wrap">
            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan
              congue. Lorem ipsum primis in nibh vel risus.
            </p>
  
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </div> -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
</section>
