<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery Grid</h2>
    <div class="masonry">
      <ul class="grid__list">
        <li class="grid__item gread__item-1">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
        <li class="grid__item gread__item-4">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
        <li class="grid__item gread__item-2">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
        <li class="grid__item gread__item-3">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
        <li class="grid__item gread__item-5">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
        <li class="grid__item gread__item-6">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
        <li class="grid__item gread__item-7">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
        <li class="grid__item gread__item-8">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
        <li class="grid__item gread__item-9">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
        <li class="grid__item gread__item-10">
          <div class="masonry__thumb">
            <img src="images/gallery/photo6-2x-min.jpg" alt="">
          </div>
        </li>
      </ul>
    </div>  
  </div>
</section>
