<header class="header">
  <div class="container">
    <div class="hesder-container">
      <!-- <a href=""><img src="" alt="logo" /></a> -->
      <nav>
        <ul class="header-nav">
          <li class="header-nav__item"><a class="header-nav__link" href="">Home</a></li>
          <li class="header-nav__item"><a class="header-nav__link" href="">About us</a></li>
          <li class="header-nav__item"><a class="header-nav__link" href="">How it’s made?</a></li>
          <li class="header-nav__item"><a class="header-nav__link" href="">Our products</a></li>
          <li class="header-nav__item"><a class="header-nav__link" href="">Contact</a></li>
        </ul>
      </nav>
      <button class="header-btn btn" type="button">Buy now ></button>
      <button type="button"></button>
    </div>
    <div class="hero">
      <h1 class="hero-title">
        ice cream <br />
        made with <br />
        <span class="hero-title__item">passion</span>
      </h1>
      <div class="hero-link">
        <a class="hero-link__content" href="">Products</a>
        <!-- <button class="hero-btn__content" type="button">Products</button> -->
        <a class="hero-link__content" href="">How it’s made?</a>
        <!-- <button class="hero-btn__content" type="button">How it’s made?</button> -->
      </div>
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero-text__btn" type="button"></button>
      <div>
        <span class="hero__content"></span>
        <span class="hero__number">16</span>
        <p class="hero__item">cafes</p>
      </div>
      <div>
        <span class="hero__content"></span>
        <span class="hero__number">21</span>
        <p class="hero__item">food trucks</p>
      </div>
    </div>
  </div>
</header>
